{% extends "base.html" %}

{% block content %}
  <div class="container mx-auto p-4">
    <h1 class="text-3xl font-bold text-blue-600">Races</h1>
  </div>
  <div class="container mx-auto p-4">
    <ul>
      {% for race in races %}
        <li class="text-2xl font-medium text-black"><a href="{% url 'race-detail' race.slug %}">{{ race.get_park_display }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% if request.user.is_authenticated %}
    {% include 'upload.html' %}
  {% endif %}
{% endblock %}